

@{
    ViewData["Title"] = "Home Page";
}


<div class="container my-5">
    <h1 class="">CONTROLE DE ESTOQUE CRUD</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-success">Login</a>
    }
</div>